@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
  font-family: 'brush';
  src: url(images/blowbrush.ttf);
  font-family: 'digital';
  src: url(images/wwDigital.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color:aliceblue;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.container{
  display: flex;
  max-width: 95vw;
  margin: 30px auto;
  overflow: auto;
  max-height: 95vh;
  /* border: 1px solid steelblue; */
  padding: 10px;
  /* border-radius: 5px; */
}

.container-round, .container-clock{
  display: inline-block;
  max-width: 900px;
  height: 85vh;
  margin: auto;
  overflow: auto;
  text-align: center;
}

.container-round{
  width: 50%;
  /* border: solid; */
}

.container-clock{
  width: 60%;
  /* border: solid; */
}

.round{
  display: inline-block;
  font-size: 25vw;
  font-weight: bold;
  text-align: center;
  height: 80%;
  width: 80%;
  /* border: solid; */
}

.inner-clock{
  display: inline-block;
  height: 80%;
  width: 90%;
  align-items: center;
  /* border: solid; */
}

.clock{
  font-family: 'digital';
  font-size: 7vw;
  /* font-weight: bold; */
  text-align: center;
}

.timer{
  display: inline-block;
  width: 20%;
  text-align: justify;
  margin-top: 20%;
  /* border: solid; */
}

.navbar {
  display: flex;
  background-image: linear-gradient(to right, rgb(50, 80, 161), #666, rgb(110, 52, 117));
  padding: 10px;
}

.navbar-brand {
  flex: 2;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link {
  flex: 1;
  color: #ffffff;
  font-size: 18px;
  padding: 0 20px;
  text-decoration: none;
}

.btn{
  display: inline-block;
  background: #000;
  color: aliceblue;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: inherit;
}

.btn:focus{
  outline: none;
}

.btn:active{
  transform: scale(0.98);
}

.btn-block{
  display: block;
  width: 100%;
}

.btn-clock, .btn-round{
  display: flex;
  justify-content: center;
}

.task{
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form{
  margin-bottom: 40px;
}

.form-control{
  margin: 20px 0;
}

.form-control label{
  display: block;
}

.form-control input{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label{
  flex: 1;
}

.form-control-check input{
  flex: 2;
  height: 20px;
}

footer{
  margin-top: 30px;
  text-align: center;
}
